@use "variables.scss";

.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  &_title {
    border: none;
    color: variables.$primary-blue-color;
  }
  &_text {
    padding-bottom: 20px;
    text-align: center;
  }
}
